<div id='game'>
  <% @player_total = total(session[:player_hand]) %>
  <% @dealer_total = total(session[:dealer_hand]) %>
  <% @player_stand = session[:player_stand] %>
  <% @dealer_stand = session[:dealer_stand] %>

  <% if !(@player_stand) %>
    <% if @player_total == 21 %>
      <div class='alert alert-success'>You have blackjack! You win!</div>
      <% session[:player_cash] += session[:current_bet] %>
      <% @gameover = true %>
    <% elsif @player_total > 21 %>
      <div class='alert alert-error'>You bust! You lose!</div>
      <% session[:player_cash] -= session[:current_bet] %>
      <% @gameover = true %>
    <% else %>
      <form action='/hit_stand' method='post' class='form-inline'>
        <label style='font-size: 20px'>Hit or stand?</label>
        <button type='submit' class='btn btn-success' id='player_hit'
          name='hit'>Hit</button>
        <button type='submit' class='btn btn-warning' id='player_stand'
          name='stand'>Stand</button>
      </form>
    <% end %>
  <% else %>
    <% until @dealer_total > 17 && @dealer_total > @player_total %>
        <% session[:dealer_hand] << session[:deck].pop %>
        <% @dealer_total = total(session[:dealer_hand]) %>
    <% end %>

    <% if @dealer_total == 21 %>
      <div class='alert alert-error'>Dealer has blackjack! You lose!</div>
      <% session[:player_cash] -= session[:current_bet] %>
      <% @gameover = true %>
    <% elsif @dealer_total > 21 %>
      <div class='alert alert-success'>Dealer busts! You win!</div>
      <% session[:player_cash] += session[:current_bet] %>
      <% @gameover = true %>
    <% elsif @dealer_total > @player_total %>
      <div class='alert alert-error'>Dealer wins!</div>
      <% session[:player_cash] -= session[:current_bet] %>
      <% @gameover = true %>
    <% elsif @player_total > @dealer_total %>
      <div class='alert alert-success'>You win!</div>
      <% session[:player_cash] += session[:current_bet] %>
      <% @gameover = true %>
    <% else %>
      <div class='alert alert-info'>Tie!</div>
      <% @gameover = true %>
    <% end %>
  <% end %>

  <h4>Cash: $<%= "%01d" % session[:player_cash].to_i %></h4>

  <% if @gameover %>
    <form action='/play_again' method='post' class='form-inline'>
      <label>Bet:</label>
      <input type='text' name='bet'>
      <button type='submit' class='btn btn-primary'>Play Again</button>
    </form>
  <% end %>



  <div class='well'>
    <h3><%= session[:player_name] %>'s cards:</h3>
    <ul class='inline'>
      <% session[:player_hand].each do |card| %>
        <li><%= card_img(card) %></li>
      <% end %>
    </ul>
    <h4>Total: <%= @player_total %></h4>
  </div>

  <div class='well'>
    <h3>Dealer's cards:</h3>
    <ul class='inline'>
      <% session[:dealer_hand].each_with_index do |card, idx| %>
        <% if idx == 0 && !session[:player_stands] %>
          <li>
            <img src='/images/cards/cover.jpg' alt='hidden card' class='card'>
          </li>
        <% else %>
          <li><%= card_img(card) %></li>
        <% end %>
      <% end %>
    </ul>
    <h4>
      <% if session[:player_stands] %>
        Total: <%= @dealer_total %>
      <% else %>
        Total hidden
      <% end %>
    </h4>
  </div>
</div>