<div class="row-fluid">
  <div class="span6">
    <h3><%= session[:player_name] %>'s hand:</h3>
    <ul class="inline">
      <% session[:player_hand].each do |card| %>
        <li><img src="public/images/<%= card.img %>" /></li>
      <% end %>
    </ul>
    <h4>Total: <%= @player_total %></h4>
  </div>

  <div class="span6">
    <h3>Dealer's hand:</h3>
    <ul class="inline">
      <% session[:dealer_hand].each_with_index do |card, idx| %>
        <% if session[:dealer_hidden] && idx == 0 %>
          <li><img src="../public/images/cover.jpg" /></li>
        <% else %>
          <li><img src="public/images/<%= card.img %>" /></li>
        <% end %>
      <% end %>
    </ul>
    <% if session[:dealer_hidden] %>
      <h4>Total hidden</h4>
    <% else %>
      <h4>Total: <%= @dealer_total %></h4>
    <% end %>
  </div>
</div>